/* Nipis */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/v.2.872/Dubai/NKLDubai-Light.woff2) format('woff2');
  unicode-range: U+0600-06FF,U+0750-077F,U+08A0-08FF,U+FB50-FDFF,U+FE70-FEFF,U+10E60-10E7F,U+1EC70-1ECBF,U+1ED00-1ED4F,U+1EE00-1EEFF;
}
/* Biasa */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/v.2.872/Dubai/NKLDubai-Regular.woff2) format('woff2');
  unicode-range: U+0600-06FF,U+0750-077F,U+08A0-08FF,U+FB50-FDFF,U+FE70-FEFF,U+10E60-10E7F,U+1EC70-1ECBF,U+1ED00-1ED4F,U+1EE00-1EEFF;
}
/* Tebal */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/v.2.872/Dubai/NKLDubai-Bold.woff2) format('woff2');
  unicode-range: U+0600-06FF,U+0750-077F,U+08A0-08FF,U+FB50-FDFF,U+FE70-FEFF,U+10E60-10E7F,U+1EC70-1ECBF,U+1ED00-1ED4F,U+1EE00-1EEFF;
}
